h1,
h2,
h3,
h4,
h5 {
  @layer text-title font-semibold;
}

h1 {
  @apply text-6xl lg:text-7xl;
}

h2 {
  @apply text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl lg:text-3xl lg:leading-relaxed;
}
h4 {
  @apply text-xl lg:text-2xl;
}

p {
  @apply text-base my-4 lg:text-lg;
}
