@tailwind base;
@tailwind components;
@tailwind utilities;

/* Push Footer to the bottom */
#root {
  @apply flex min-h-[calc(100vh-3.5rem*2)]  flex-col;
}

h1 {
  @apply text-6xl lg:text-7xl;
}

h2 {
  @apply text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl lg:text-3xl lg:leading-relaxed;
}
h4 {
  @apply text-xl lg:text-2xl;
}

p {
  @apply my-4 text-base lg:text-lg;
}

body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  @apply bg-slate-900 p-2 text-slate-50 md:p-8 lg:p-14;
}

section {
  @apply mb-10;
}

.active {
  @apply before:absolute before:left-0 before:top-[50%] before:h-4 before:w-1 before:-translate-y-[50%] before:bg-sky-500;
}

::selection {
  @apply bg-sky-500 text-white;
}

.btn {
  @apply rounded-full bg-slate-500 px-[1em] py-[0.4em] font-bold;
}

.btn-primary {
  @apply border-[1px] border-sky-500 bg-sky-500 text-slate-900 transition hover:border-[1px] hover:border-sky-500 hover:bg-slate-900 hover:text-sky-500;
}

.btn-danger {
  @apply border-[1px] border-red-500 bg-red-500 text-slate-900 transition hover:border-[1px] hover:border-red-500 hover:bg-slate-900 hover:text-red-500;
}

.btn-outline {
  @apply border-[1px] border-sky-500 bg-slate-900 text-sky-500 transition hover:bg-sky-500 hover:text-slate-900;
}
.btn-outline-danger {
  @apply border-[1px] border-red-500 bg-slate-900 text-red-500 transition hover:bg-red-500 hover:text-slate-900;
}
.btn-outline-success {
  @apply border-[1px] border-emerald-500 bg-slate-900 text-emerald-500 transition hover:bg-emerald-500 hover:text-slate-900;
}

.btn-sm {
  font-size: small;
}

.btn-lg {
  font-size: x-large;
}
