@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #334155;
    --color-text-title: #0f172a;
    --color-text-muted: #64748b;
    --color-fill: #f8fafc;
    --color-bg: #fff;
  }
  .dark {
    --color-text-base: #cbd5e1;
    --color-text-title: #f8fafc;
    --color-text-muted: #64748b;
    --color-fill: #20222d;
    --color-bg: #191b24;
  }
}

/* Push Footer to the bottom */
#root {
  @apply flex flex-col  min-h-[calc(100vh-4rem*2)];
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-slate-900 text-slate-50 px-[1rem] py-[1rem] md:px-[4rem] md:py-[2rem] lg:px-[8rem] lg:py-[4rem];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  @apply text-sky-500;
}

::selection {
  @apply bg-sky-500 text-white;
}
